.cover-image {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.apply {
  padding-top: 30px;
  padding-bottom: 30px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  text-align: center;
}

.faq {
  padding-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  text-align: left;
  line-height: 30px;
}

p {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .cover-image {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  }
}

a{
color: #282425!important;
}
ul.nav.nav-tabs > li{
	display: inline-block;
	line-height: 50px;
	height: 100%;
	text-transform:uppercase;
}
ul.nav.nav-tabs > li a{
	display:block;
	padding:15px;
	color: #282425!important;

}
ul.nav.nav-tabs > li a:hover, ul.nav.nav-tabs > li:hover{
	background:	#FB282F;
	color:#fff!important;
	text-decoration: none!important;
}
ul.nav.nav-tabs > li a.active{
	background:	#282425;
	color:#fff!important;
	text-decoration: none!important;
}
.card-header {
    background-color: rgb(245,245,245,0.3)!important;
	border-radius:0!important;
}
.card{
border-radius:0!important;
}

.card > .card-header a::before {
    font-family: fontawesome;
    content: "\f067 ";
    color: #282425;
    float: right;
    margin-right: 15px;
    font-weight: 400;
    position: absolute;
    right: 0;
}

summary {
  font-size: 1.5rem;
  font-weight: 600;
  background-color: #fff;
  color: #333;
  padding: 1rem;
  margin-bottom: 1rem;
  outline: none;
  border-radius: 0.25rem;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding-left: 1.5rem;
}
details > summary::after {
  position: absolute;
  content: "+";
  right: 20px;
}
details[open] > summary::after {
  position: absolute;
  content: "-";
  right: 20px;
}
details > summary::-webkit-details-marker {
  display: none;
}

details[open] summary ~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  0%    {opacity: 0; margin-top: -10px}
  100%  {opacity: 1; margin-top: 0px}
}
