.contact {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  text-align: left;
  font-family: 'Karla', sans-serif;
}

.purple {
  width: 100%;
  background-image: linear-gradient(to right, #552380, #7C47A7, #A56DD1, #CF93FB);
  height: 20%;
  padding-top: 150px;
}

h2 {
  color: white;
}

.contact-image {
  width: 55%;
  display: block;
  margin-left: 45%;
  margin-top: -40%;
}


@media screen and (max-width: 1000px) {
  .contact-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
  }

}
