* {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 1.7em;
}

h3 {
  font-size: 2.5em;
  color: white;
  text-align: center;
}

h4 {
  font-size: 1.1em;
  text-align: center;
}

h5 {
  font-size: .65em;
  text-align: left;
}

.ne {
  padding-top: 30px;
  padding-bottom: 10px;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  text-align: center;
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.column-5 {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .column-5 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.card:hover {
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.column-1 {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row-1 {margin: 0 -5px;}

/* Clear floats after the columns */
.row-1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column-1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card-1 {
  text-align: left;
}

.card-2 {
  padding: 16px;
  background-color: white;
  text-align: left;
}
