.phil {
  padding-top: 10px;
  width: 80%;
  margin-left: 10%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  font-size: 22px;
  text-align:center;
}

.phil1 {
  padding-top: 10px;
  width: 80%;
  margin-left: 10%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  font-size: 22px;
  text-align:left;
}


.cover-image {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.apply {
  padding-top: 30px;
  padding-bottom: 30px;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  text-align: center;
}

p2 {
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .cover-image {
    width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  }
}

/* Style the counter cards */
.card {
  text-align: left;
}
