.speaker-events {
  padding-top: 30px;
  width: 80%;
  margin-left: 10%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  font-size: 22px;
  text-align:center;
}

.se {
  padding-top: 10px;
  width: 80%;
  margin-left: 10%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  max-width: auto;
  font-size: 22px;
  text-align:left;
}

p1 {
  font-size: 17px;
  text-align: left;
  line-height: 30px;
}

.cover-image {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}
